.appeal {
  margin: 0 15px;
  padding: 0 12px;
  padding-top: 25px;
  padding-bottom: 60px;
  text-align: center;
  background-color: $bg-white;
  box-shadow: 0 5px 9px 2px rgba($color: $bg-black, $alpha: 0.11);
  border-radius: 10px;
}

.appeal__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  color: $bg-darkblue;
  font-size: 18px;
  font-weight: 600;
}

.appeal__desc {
  margin: 0;
  margin-bottom: 30px;
  text-align: left;
  color: $bg-darkblue;
}

.appeal__button {
  min-width: 195px;
  margin-top: 40px;
}

@media (min-width: $tablet-width) {
  .appeal {
    max-width: 700px;
  }

  .appeal__title {
    font-size: 23px;
  }

  .appeal__desc {
    font-size: 15px;
  }
}