.coach {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.coach__title {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
  color: $bg-darkblue;
  font-size: 18px;
  font-weight: 600;
}

.coach__title::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  height: 7px;
  background-color: $bg-lightpink;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.coach__subtitle {
  margin: 0;
  margin-bottom: 45px;
  text-align: center;
  color: $bg-darkblue;
}

.coach__image-big {
  position: relative;
  order: 1;
  margin-top: -30px;
  margin-left: 5px;
}

.coach__image-big::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 143px;
  height: 119px;
  background-image: url('../img/couple-mobile.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .coach {
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 1170px;
  }

  .coach__title {
    font-size: 23px;
  }

  .coach__subtitle {
    font-size: 15px;
  }

  .coach__subtitle--first {
    display: block;
  }

  .coach__wrap {
    display: flex;
    align-items: center;
  }

  .coach__image-big{
    order: 0;
    z-index: 1;
  }

  .coach__image-big::before {
    content: '';
    position: absolute;
    bottom: 13.5%;
    left: -30%;
    z-index: -1;
    width: 103%;
    height: 78%;
    background-color: $bg-yellow;
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  .coach__image-big::after {
    display: none;
  }
}