.member {
  padding-top: 35px;
  padding-bottom: 50px;
  text-align: center;
  color: $bg-white;
  background-color: $bg-lightpink;
  background-image: url('../img/bg-hearts.png');
}

.member__title {
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 600;
}

.member__title::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  height: 7px;
  background-color: $bg-white;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.member__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.member__item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 15px;
  margin-bottom: 10px;
  min-height: 300px;
  box-sizing: border-box;
  border: 1px solid $bg-white;
  border-radius: 10px;
  box-shadow: 0 2px 5px 1px rgba($color: $bg-black, $alpha: 0.17);
}

.member__item:hover {
  background-color: rgba(252, 186, 213, 0.73);
}

.member__item-wrap--1 {
  // display: none;
}

.member__item-wrap--2 {
  display: none;
// display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  height: 100%;
}

.member__item:hover .member__item-wrap--2 {
  display: flex;
}

.member__item:hover .member__item-wrap--1 {
  display: none;
}

.member__nested-list {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}

.member__nested-item {
  padding-left: 10px;
  text-align: left;
}

.member__item-image {
  position: relative;
  margin-bottom: 30px;
}

.member__item-image::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -118px;
  width: 236px;
  height: 1px;
  background-color: $bg-white;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.member__item-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
}

.member__item-title span {
  display: block;
}

.member__item-title--2 {
  position: relative;
}

.member__item-title--2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -118px;
  width: 236px;
  height: 1px;
  background-color: $bg-white;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.member-button {
  margin-top: auto;
  margin-bottom: 10px;
  padding: 10px 0;
  width: 180px;
  background-color: $bg-pink;
}

@media (min-width: $tablet-width) {
  .member__wrap {
    margin: 0 auto;
    max-width: 1170px;
  }

  .member__title {
    font-size: 23px;
  }

  .member__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .member__item {
    margin: 0 15px;
    margin-bottom: 30px;
    min-width: 360px;
    box-sizing: border-box;
  }

  .member__item-title {
    font-size: 23px;
  }
}
