.top__wrap {
  padding-top: 15px;
  background-image: url('../img/bg-top.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .top__wrap {
    background-image: url('../img/bg-top-desktop.png');
    background-size: cover;
  }
}
