$bg-white: #ffffff;
$bg-black: #000000;
$bg-lightgrey: #d4d9e1;
$bg-pink: #e93887;
$bg-lightpink: #fba0c6;
$bg-lighterpink: #fdc9df;
$bg-darkblue: #172e56;
$bg-gradient: #fff7f8;
$bg-yellow: #ffeac5;
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
$max-width: 1920px;